@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-alpha.css";

@layer base {
  :root {
    --bg: var(--gray-1);
    --boxBg: var(--gray-4);
  }

  body {
    overflow-x: hidden;
    background-color: var(--bg);
  }
}

@media (hover: hover) {
  .animated-list:hover li {
    opacity: 0.5;
  }
  .animated-list:hover li:hover {
    opacity: 1;
  }
}

.animate-in {
  animation-delay: calc(var(--index) * 130ms);
}
